
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>form</title>
</head>

<body>
  <%-include('partials/_header') %>
<form class="form-inline" action="/login" method="POST">
  <div class="form-group mb-2">
    <input class="form-control" type="text" name="email" placeholder="email"
      style="width: 300px; margin: 1em" />
      <input class="form-control" type="text" name="password" placeholder="password"
      style="width: 300px; margin: 1em" />
    <button type="Login" class="btn btn-primary">Login</button>
  </div>
</form>
</body>
</html>
